#register_form.register
  =form_for @client, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f|
    .fields
      =image_tag "logoGray.png", class:'vaMiddle xs-mid'
      =image_tag "envelope.png", class:'pull-right xs-mid'
      %ul.errors
      = f.text_field :first_name, class:"form-control", placeholder:"Nombre y Apellidos"
      .row
        .col-lg-6
          = f.text_field :email, class:"form-control", placeholder:"Email"
        .col-lg-6
          = f.text_field :phone_number, class:"form-control", placeholder:"Teléfono"
      = f.text_field :address, class:"form-control", placeholder:"Dirección"

    .footerActions
      = f.submit "Enviar", class: "btn btn-black pull-right", :id  => 'registerBtn', :data => {  :container => 'body', :toggle => 'popover', :placement => 'left', :html => true, :content => 'Hemos recibido tus datos de contacto, estamos en contacto <i class="fa fa-check"></i>'}