<!DOCTYPE html>
<html>
<head>

  <title>Solarity</title>
  <meta name="description" content="La energía solar puede ser más barata que lo que pagas hoy, además de ser limpia y sustentable" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary">

  <!-- Open Graph data -->
  <meta property="og:title" content="Solarity" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.solarityenergia.com" />
  <meta property="og:image" content=image_tag "bgCta.png" />
  <meta property="og:description" content="La energía solar puede ser más barata que lo que pagas hoy, además de ser limpia y sustentable" />


  <meta http-equiv="refresh" content="0; url=http://www.solarity.cl/">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58487174-1', 'www.solarity.cl');
  ga('send', 'pageview');

</script>
  
  <meta name="google-site-verification" content="SwHJZAT3j5nCsY4Ezpp_lo9JWxTh3LWOqjX88l92AqU" />
  <meta name="google-site-verification" content="jBTyVH44E5iq1XVWTcDIi6ofXEZB3rJGiepzud6rFZA" />
  <title>Solarity</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,600italic' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>


</body>
</html>